
<footer class="bg-light pt-5">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center mb-4">
                        <h5>Infórmese de nuestras últimas noticias y ofertas especiales</h5>
                        <form class="d-flex justify-content-center">
                            <input class="form-control w-50" type="email" placeholder="Su dirección de correo electrónico">
                            <button class="btn btn-primary ms-2" type="submit">Suscribirse</button>
                        </form>
                        <p class="mt-2">Puede darse de baja en cualquier momento. Para ello, consulte nuestra información de contacto en el aviso legal.</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com"><img src="/Imagenes/Facebooklogo.png" alt="Facebook" alt="Instagram" <class="img-fluid" height="40px" width="40px"></img></a>
                            <a href="https://www.instagram.com"><img src="/Imagenes/Iglogo.png" alt="Instagram" <class="img-fluid" height="40px" width="40px"></img></a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <h5>PRODUCTOS</h5>
                        <ul class="list-unstyled">
                            
                            <li><a href="/HTMLS/Accesorios.html">Accesorios</a></li>
                            <li><a href="/HTMLS/Equipo.html">Equipamiento</a></li>
                            <li><a href="/HTMLS/Replicas.html">Replicas</a></li>
                            <li><a href="/HTMLS/Repuestos.html">Repuestos</a></li>
    
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h5>NUESTRA EMPRESA</h5>
                        <ul class="list-unstyled">
                            <li><a href="/HTMLS/Terminos y condiciones.html">Términos y condiciones de venta</a></li>
                          
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h5>INFORMACIÓN DE LA TIENDA</h5>
                        <p>La tiendita cool<br>
                           Ejercito 441 <br>
                           Santiago, Chile<br>
                           <strong>Telefono:</strong> +569 58083495<br>
                           <strong>Email:</strong> tienda.cool@outlook.cl</p>
                    </div>

                    <div class="col-md-3">
                        <h5>MEDIOS DE PAGO</h5>
                        <p>Efectivo, Transferencia Bancaria</p>
                        <p><strong>Transferencia Bancaria</strong><br>
                           Nombre: La Tiendita <br>
                           RUT: 69.823.641-8<br>
                           Banco: Banco Estado<br>
                           Tipo de cuenta: Corriente<br>
                           N° de cuenta: 01623072902<br>
                           Mail: tienda.cool@outlook.cl</p>
                        <div class="payment-icons">
                            <img src="/Imagenes/visa logo.png" alt="Visa"alt="Instagram" class="img-fluid" height="30px" width="70px"</img>
                            <img src="/Imagenes/MasterCard_Logo.svg.png" alt="Mastercard" class="img-fluid" height="30px" width="70px"</img>
                            <img src="/Imagenes/redcompra.png" alt="RedCompra"class="img-fluid" height="70px" width="110px"</img>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>   
