<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
            <a class="navbar-brand" href="/"> 
                <img src="/Imagenes/logo.png" class="img-fluid" height="100px" width="100px"></img></a>
            </button>
            </div>
            </nav>