<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>E-commerce</title>
  </head>
  <body><!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Cool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/HTMLS/inicio.html">
                
                <img src="/Imagenes/logo.png" class="img-fluid" height="100px" width="100px"</img> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/HTMLS/Accesorios.html">Accesorios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HTMLS/Equipo.html">Equipamiento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HTMLS/Repuestos.html">Repuestos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HTMLS/Replicas.html">Replicas</a>
                    <li class="nav-item">
                        <a class="nav-link" href="/HTMLS/Login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HTMLS/Login.html">Carrito <img src="/Imagenes/carrito-de-compras.png" class="img-fluid" height="15px" width="15px"</img>  </a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Buenas!, este es el mejor ecommerce del planeta</h1>
    {{{body}}}
  </body>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
            <p>////PONER BREVE DESCRIPCION DE LO QUE SE VA A TRATAR LA PAGINA ////</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Footer -->
        <footer class="bg-light pt-5">
            <div class="container">
                <div class="row">
                    <!-- Newsletter -->
                    <div class="col-md-12 text-center mb-4">
                        <h5>Infórmese de nuestras últimas noticias y ofertas especiales</h5>
                        <form class="d-flex justify-content-center">
                            <input class="form-control w-50" type="email" placeholder="Su dirección de correo electrónico">
                            <button class="btn btn-primary ms-2" type="submit">Suscribirse</button>
                        </form>
                        <p class="mt-2">Puede darse de baja en cualquier momento. Para ello, consulte nuestra información de contacto en el aviso legal.</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com"><img src="/Imagenes/Facebooklogo.png" alt="Facebook" alt="Instagram" <class="img-fluid" height="40px" width="40px"</img></a>
                            <a href="https://www.instagram.com"><img src="/Imagenes/Iglogo.png" alt="Instagram" <class="img-fluid" height="40px" width="40px"</img></a>
                        </div>
                    </div>

                    <!-- Footer Links -->
                    <div class="col-md-3">
                        <h5>PRODUCTOS</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Novedades</a></li>
                            <li><a href="#">Los más vendidos</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h5>NUESTRA EMPRESA</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Términos y condiciones de venta</a></li>
                          
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h5>INFORMACIÓN DE LA TIENDA</h5>
                        <p>La tiendita cool<br>
                           Ejercito 441 <br>
                           Santiago, Chile<br>
                           <strong>Telefono:</strong> +569 58083495<br>
                           <strong>Email:</strong> tienda.cool@outlook.cl</p>
                    </div>

                    <div class="col-md-3">
                        <h5>MEDIOS DE PAGO</h5>
                        <p>Efectivo, Transferencia Bancaria</p>
                        <p><strong>Transferencia Bancaria</strong><br>
                           Nombre: La Tiendita <br>
                           RUT: 69.823.641-8<br>
                           Banco: Banco Estao<br>
                           Tipo de cuenta: Corriente<br>
                           N° de cuenta: 01623072902<br>
                           Mail: tienda.cool@outlook.cl</p>
                        <div class="payment-icons">
                            <img src="/Imagenes/visa logo.png" alt="Visa"alt="Instagram" class="img-fluid" height="30px" width="70px"</img>
                            <img src="/Imagenes/MasterCard_Logo.svg.png" alt="Mastercard" class="img-fluid" height="30px" width="70px"</img>
                            <img src="/Imagenes/redcompra.png" alt="RedCompra"class="img-fluid" height="70px" width="110px"</img>
                            <!-- Add more icons as needed -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
    