<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>E-commerce</title>
  </head>
  <body>
    <h1>Buenas!, este es el mejor ecommerce del planeta</h1>
    {{{body}}}
  </body>
</html>