<form action="/products" method="POST">
  Nombre del Producto
  <input name="name">
  <br />
  Precio del producto
  <input name="price">
  <button type="submit">Crear Producto</button>
</form>