        <div class="container-fluid hero-section text-center">  
            <div class="hero-text">
                <h1>Carrito</h1>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
        <div class="hstack gap-3">
           <div class="p-2 g-0"> 
          <img src="/Imagenes/ar15.jpg">
           </div>
            <p class="text-start">DMT AR15 BLACK DWARF PDW</p>
            <div class="p-2 ms-auto">
                <p>$159.990</p>
            </div>
            <div class="p-2">
          <button type="button" class="btn btn-secondary">Pagar</button></div>
          <div class="vr"></div>
          <button type="button" class="btn btn-outline-danger">Borrar</button>
        </div>
                </div>

            </div>
        <div class="card">
            <div class="card-body">
        <div class="hstack gap-3">
            <div class="p-2">
          <img src="/Imagenes/balines premiun.jpg" ></div>
            <p>Balines Premium</p>
            <div class="p-2 ms-auto">
                <p>$10.990</p>
            </div>
            <div class="p-2">
          <button type="button" class="btn btn-secondary">Pagar</button></div>
          <div class="vr"></div>
          <button type="button" class="btn btn-outline-danger">Borrar</button>
        </div></div></div>
        <div class="card">
            <div class="card-body">
        <div class="hstack gap-3">
            <div class="p-2">
          <img src="/Imagenes/mira-holografica-551.jpg"></div>
            <p>Mira holografica 551</p>
            <div class="p-2 ms-auto">$29.990</div>
            <div class="p-2">
          <button type="button" class="btn btn-secondary">Pagar</button></div>
          <div class="vr"></div>
          <button type="button" class="btn btn-outline-danger">Borrar</button>
        </div></div></div>
        <div class="card">
            <div class="card-body">
        <div class="hstack gap-3">
            <div class="p-2">
          <img src="/Imagenes/casco-mitch-bk.jpg" class="rounded float-start"></div>
            <p>Casco mitch BK</p>
            <div class="p-2 ms-auto">$32.990</div>
            <div class="p-2">
          <button type="button" class="btn btn-secondary">Pagar</button></div>
          <div class="vr"></div>
          <button type="button" class="btn btn-outline-danger">Borrar</button>
        </div></div></div>
        <div class="hstack gap-3">
            <div class="p-2 ms-auto">
                <p >Total:</p><p>$233.960</div>
            <div class="p-2">
                <button type="button" class="btn btn-secondary">Pagar</button></div>
            <button type="button" class="btn btn-outline-danger">Borrar</button>
        </div>
            </div>