<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/index.js"></script> <!-- Asegúrate de que esta ruta sea correcta -->
</head>
<body>
    <!-- div carrito -->
    <div class="modal-content" style="position: fixed; top: 0px; z-index: 99999; width: 350px; right: 0px; margin: 5px;">
        <div class="modal-header" style="background-color: black; cursor: pointer;" onclick="olculta_cart();">
            <h5 class="modal-title text-white" id="exampleModalLabel">
                <i class="fas fa-shopping-cart"></i>
                <img src="/Imagenes/carrito-de-compras.png" class="img-fluid" height="15px" width="15px">
                Mi carrito
            </h5>
        </div>
        <div id="mi_cart">
            <div class="modal-body">
                <!-- Aquí se renderizarán los elementos del carrito -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="olculta_cart();">Cerrar</button>
            <a type="button" class="btn btn-primary">Vaciar carrito</a>
        </div>
    </div>
    <!-- fin carrito -->
</body>
</html>
