<p>Estás en el inicio del ecommerce, por favor compra mucho, te queremos</p>
<a href="/add/product">Añadir producto</a>
{{#each lista}}
  <p>id: {{this.id}}</p>
  <p>name: {{this.name}}</p>
  <p>Precio: {{this.price}}</p>
{{/each}}