<div class="position-absolute top-50 start-50 translate-middle">
<form class="form">
    <p id="heading">Iniciar Sesión</p>
    <div class="field">
      <input autocomplete="off" placeholder="Email" class="input-field" type="email">
    </div>
    <div class="field">
      <input placeholder="Contraseña" class="input-field" type="password">
    </div>
    <button class="button1" type="submit">Login</button>


    <button class="button2" type><a href="/HTMLS/Registro.html">Registrarse</a></button>

    <button class="button3"><a href="/HTMLS/LogAdmin.html">Ingresar como administrador</a></button>

</form>
  </div>