<p>sexoanal</p>

    <div class="container-fluid hero-section text-center">
       
        <div class="hero-text">
            <h1>Tienda Cool</h1>
            <p>Vendemos cosas bkns</p>
             <img src="/Imagenes/BANNER.png" class="img-fluid" alt="Banner Vacaciones">
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Productos Destacados</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="/Imagenes/glock-17-gbb-double-bell.jpg" class="card-img-top" alt="Glock 17">
                    <div class="card-body">
                        <h5 class="card-title">GLOCK 17 GBB DOUBLE BELL</h5>
                        <p class="card-text">$80.000</p>
                        <button class="alert-button">agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/Imagenes/ar15.jpg" class="card-img-top" alt="AR15 Black">
                    <div class="card-body">
                        <h5 class="card-title">DMT AR15 BLACK DWARF PDW</h5>
                        <p class="card-text">$159.990</p>
                        <button class="alert-button">agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/Imagenes/ar15 carabina.jpg" class="card-img-top" alt="AR15 Neutron">
                    <div class="card-body">
                        <h5 class="card-title">DMT AR15 NEUTRON CARBINE</h5>
                        <p class="card-text">$159.990</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/Imagenes/balines premiun.jpg" class="card-img-top" alt="Balines">
                    <div class="card-body">
                        <h5 class="card-title">BLS Balines Premium Grade</h5>
                        <p class="card-text">$10.990</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




