<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Cool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/estiloproductos.css">
</head>
        <div class="row">
            <aside class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        REPLICAS
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Filtrar por</h5>
                        <h6>Disponibilidad</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inStock">
                            <label class="form-check-label" for="inStock">En stock (30)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="outOfStock">
                            <label class="form-check-label" for="outOfStock">No disponible (66)</label>
                        </div>

                        <h6 class="mt-3">Marca</h6>
                        <ul class="list-unstyled">
                            <li><input type="checkbox"> APS (2)</li>
                            <li><input type="checkbox"> Airsoft Innovations (1)</li>
                            <li><input type="checkbox"> Alpha Series (3)</li>
                            <li><input type="checkbox"> Baofeng (1)</li>
                            <li><input type="checkbox"> Bolt Airsoft (1)</li>

                        </ul>

                        <h6 class="mt-3">Precio</h6>
                        <input type="range" class="form-range" min="1190" max="61900" id="priceRange">
                    </div>
                </div>
            </aside>


            <section class="col-md-9">
                <h3>REPLICAS</h3>
                <img src="/Imagenes/BANNER REPLICAS.png" alt="Accesorios" class="img-fluid mb-4">

                <div class="d-flex justify-content-between align-items-center mb-3">

                    <div>
                        <label for="sortBy" class="form-label me-2">Ordenar por:</label>
                        <select id="sortBy" class="form-select w-auto">
                            <option selected>Relevancia</option>
                            <option value="priceAsc">Precio: de menor a mayor</option>
                            <option value="priceDesc">Precio: de mayor a menor</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{this.image}}" class="card-img-top" alt="SET MOTOR GRIP C/TAPA M4 BK">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">{{this.price}}</p>
                                <button class="alert-button">agregar al carrito</button>
                                <div class="card__description">{{this.descr}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/Imagenes/arcturus-ak105-custom-aeg.jpg" class="card-img-top" alt="OUTER BARREL 11 M4/M16">
                            <div class="card-body">
                                <h5 class="card-title">ARCTURUS AK105 CUSTOM AEG</h5>
                                <p class="card-text">$274.550</p>
                                <button class="alert-button">agregar al carrito</button>
                                <div class="card__description">
                                    <p>DATOS TÉCNICOS<p>

                                    <p>Peso : 3300 g<p>

                                    <p>Color: Black<p>

                                    <p>Material: Full metal / aluminio, acero, <p>polímero

                                    <p>Modo de fuego: semi, auto<p>

                                    <p>Material del cargador: polimero<p>

                                    <p>Batería incluida: NO<p>

                                    <p>Versión de gearbox: v3<p>

                                    <p>Conector: Dean<p>

                                    <p>Diámetro de rodamientos: 8 mm<p>

                                    <p>Bbs recomendada: .23g, .25g<p>

                                    <p>Número de serie: SI<p>

                                    <p>Longitud: 800/880 mm<p>

                                    <p>Capacidad del cargador: 30/130BBs<p>

                                    <p>Longitud del cañón interno: 340 mm<p>

                                    <p>Velocidad de salida: 330-350+- fps<p>

                                    <p>Diámetro interno del cañón mm: 6.02<p>

                                     <p>Cantidad de cargadores incluidas en el set szt: 2<p>

                                    <p>Fabricante:Arcturus<p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/Imagenes/AK74.jpg" class="card-img-top" alt="SET DE REPUESTOS GLOCK DOUBLE BELL">
                            <div class="card-body">
                                <h5 class="card-title">E&L AK74N AEG (FULL DE ACERO - MADERA)</h5>
                                <p class="card-text">$259.000</p>
                                <button class="alert-button">agregar al carrito</button>
                                <div class="card__description">
                                    <p>Fabricante: E&L Airsoft<p>

                                    <p>Material: Full acero , empuñadura de polímero y guardamanos y culata de madera.<p>

                                    <p>Escala 1: 1 en comparación con un AK-74N real<p>

                                    <p>Longitud: 965mm.<p>

                                    <p>Peso: 3485g.<p>

                                    <p>Funcionamiento: AEGFPS: 400+- FPS aprox. (0.20g.)<p>

                                     <p>Modo de Disparo: Seguro / Semi-Automático / Automático<p>

                                    <p>Batería Recomendada: 7.4v /11.1v tipo lápiz (no incluido) deans<p>

                                    <p>Mosfet ready<p>

                                    <p>Engranajes de acero CNC 18:1<p>

                                    <p>Dientes de piston full acero<p>

                                    <p>HopUp: Ajustable<p>

                                    <p>Cañón Interior: 445m.<p>

                                    <p>Incluye: Caja, réplica y cargador de 120 rds.<p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </section>
        </div>