<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Cool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/estiloproductos.css">
</head>
{{> navbar isAuthenticated=isAuthenticated}}
            <section class="col-md-9">
                <h3>REPUESTOS</h3>
                <img src="/Imagenes/BANNER REPUESTOS.png" alt="Accesorios" class="img-fluid mb-4">
{{#each lista}}
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{this.foto}}" class="card-img-top" alt="SET MOTOR GRIP C/TAPA M4 BK">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">${{this.price}}</p>
                                <button onclick="/carrito/add" class="alert-button">agregar al carrito</button>
                                <div class="card__description">{{this.descr}}</div>
                            </div>
                        </div>
                    </div>
                </div>

{{/each}}
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/Imagenes/REPUESTOS 1.jpg" class="card-img-top" alt="SET MOTOR GRIP C/TAPA M4 BK">
                            <div class="card-body">
                                <h5 class="card-title">SET MOTOR GRIP C/TAPA M4 BK</h5>
                                <p class="card-text">$9.990 </p>
                                <button class="alert-button">agregar al carrito</button>
                                <div class="card__description">

                                    <p>Set Motor Grip c/Tapa M4<p>

                                    <p>Incluye: Motor Grip, Tapa Motor y Set de Tornillos<p>

                                    <p>Color: BK<p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/Imagenes/REPUESTOS 2.jpg" class="card-img-top" alt="OUTER BARREL 11 M4/M16">
                            <div class="card-body">
                                <h5 class="card-title">OUTER BARREL 11" M4/M16</h5>
                                <p class="card-text">$29.990</p>
                                <button class="alert-button">agregar al carrito</button>
                                <div class="card__description">
                                    <p>Outer Barrel 11" M4/M16<p>

                                    <p>(Repuesto standard)<p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/Imagenes/REPUESTOS 1.jpg" class="card-img-top" alt="SET DE REPUESTOS GLOCK DOUBLE BELL">
                            <div class="card-body">
                                <h5 class="card-title">SET DE REPUESTOS GLOCK DOUBLE BELL</h5>
                                <p class="card-text">$30.990</p>
                                <button class="alert-button">agregar al carrito</button>
                                <div class="card__description">
                                    <p>Set de Repuestos Glock Double Bell<p> 

                                    <p>Front sight<p>

                                    <p>Rear sight<p>

                                    <p>Trigger safety<p>

                                    <p>Trigger<p>

                                    <p>Magazine catch<p>

                                    <p>Magazine follower<p>

                                    <p>Spring retainer for logn magazine<p>

                                    <p>Magazine lip<p>

                                    <p>Recoil spring<p>

                                    <p>Hop up adjunto dial <p>

                                    <p>Pistón base<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


{{> footer}}