<div class="container mt-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/HTMLS/inicio.html">
                    <img src="/Imagenes/logo.png" class="img-fluid" height="100px" width="100px"</img> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/HTMLS/Accesorios.html">Accesorios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HTMLS/Equipo.html">Equipamiento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HTMLS/Repuestos.html">Repuestos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HTMLS/Replicas.html">Replicas</a>
                        <li class="nav-item">
                            <a class="nav-link" href="/HTMLS/Login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HTMLS/Carrito.html">Carrito <img src="/Imagenes/carrito-de-compras.png" class="img-fluid" height="15px" width="15px"</img>  </a>
                        </li>
                        <li class="nav-item">
                            <a href="saldo.html" class="btn btn-outline-primary"> Saldo: $0
                            </a>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row">
            <aside class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        REPUESTOS
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Filtrar por</h5>
                        <h6>Disponibilidad</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inStock">
                            <label class="form-check-label" for="inStock">En stock (30)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="outOfStock">
                            <label class="form-check-label" for="outOfStock">No disponible (66)</label>
                        </div>

                        <h6 class="mt-3">Marca</h6>
                        <ul class="list-unstyled">
                            <li><input type="checkbox"> APS (2)</li>
                            <li><input type="checkbox"> Airsoft Innovations (1)</li>
                            <li><input type="checkbox"> Alpha Series (3)</li>
                            <li><input type="checkbox"> Baofeng (1)</li>
                            <li><input type="checkbox"> Bolt Airsoft (1)</li>

                        </ul>

                        <h6 class="mt-3">Precio</h6>
                        <input type="range" class="form-range" min="1190" max="61900" id="priceRange">
                    </div>
                </div>
            </aside>


            <section class="col-md-9">
                <h3>REPUESTOS</h3>
                <img src="/Imagenes/BANNER REPUESTOS.png" alt="Accesorios" class="img-fluid mb-4">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    
                    <div>
                        <label for="sortBy" class="form-label me-2">Ordenar por:</label>
                        <select id="sortBy" class="form-select w-auto">
                            <option selected>Relevancia</option>
                            <option value="priceAsc">Precio: de menor a mayor</option>
                            <option value="priceDesc">Precio: de mayor a menor</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/Imagenes/REPUESTOS 1.jpg" class="card-img-top" alt="SET MOTOR GRIP C/TAPA M4 BK">
                            <div class="card-body">
                                <h5 class="card-title">SET MOTOR GRIP C/TAPA M4 BK</h5>
                                <p class="card-text">$9.990 </p>
                                <button class="alert-button">agregar al carrito</button>
                                <div class="card__description">

                                    <p>Set Motor Grip c/Tapa M4<p>

                                    <p>Incluye: Motor Grip, Tapa Motor y Set de Tornillos<p>

                                    <p>Color: BK<p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/Imagenes/REPUESTOS 2.jpg" class="card-img-top" alt="OUTER BARREL 11 M4/M16">
                            <div class="card-body">
                                <h5 class="card-title">OUTER BARREL 11" M4/M16</h5>
                                <p class="card-text">$29.990</p>
                                <button class="alert-button">agregar al carrito</button>
                                <div class="card__description">
                                    <p>Outer Barrel 11" M4/M16<p>

                                    <p>(Repuesto standard)<p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/Imagenes/REPUESTOS 1.jpg" class="card-img-top" alt="SET DE REPUESTOS GLOCK DOUBLE BELL">
                            <div class="card-body">
                                <h5 class="card-title">SET DE REPUESTOS GLOCK DOUBLE BELL</h5>
                                <p class="card-text">$30.990</p>
                                <button class="alert-button">agregar al carrito</button>
                                <div class="card__description">
                                    <p>Set de Repuestos Glock Double Bell<p> 

                                    <p>Front sight<p>

                                    <p>Rear sight<p>

                                    <p>Trigger safety<p>

                                    <p>Trigger<p>

                                    <p>Magazine catch<p>

                                    <p>Magazine follower<p>

                                    <p>Spring retainer for logn magazine<p>

                                    <p>Magazine lip<p>

                                    <p>Recoil spring<p>

                                    <p>Hop up adjunto dial <p>

                                    <p>Pistón base<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
