  <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Cool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/Login.css">
</head>
</html>

{{> navblog}}

 <div class="container-fluid hero-section text-center vh-100 d-flex justify-content-center align-items-center">
<form class="form">
    <p id="heading">Registrate</p>
    <div class="field">
      <input autocomplete="off" placeholder="Email" class="input-field" type="text">
    </div>
    <div class="field">
      <input placeholder="Contraseña" class="input-field" type="password">
    </div>
    <div class="btn">
    <button class="button1" type="submit">Registrarse</button>
    </div>
    <div class="btn">
    <button class="button2"><a href="/HTMLS/Login.html">Inicia Sesión</a></button>
    </div>
</form>
  </div>