    
    <div class="container mt-5">
        <h2 class="text-center">Cargar Saldo</h2>
        <div class="card p-4 mt-4">
            <div class="form-group mb-3">
                <label for="amount">Ingresa la cantidad a cargar:</label>
                <input type="number" class="form-control" id="amount" placeholder="Cantidad en $">
            </div>
            <button class="btn btn-primary w-100" onclick="cargarSaldo()">Cargar Saldo</button>

            <h3 class="mt-4 text-center">Saldo Actual: ${{this.saldo}}<span id="saldoActual">$0</span></h3>
        </div>
    </div>